{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
  .footer-top__info svg.icon-logo {
    width: {{ section.settings.logo_width_mobile }}px;
  }
  @media screen and (min-width: 750px) {
    .footer-top__info svg.icon-logo {
      width: {{ section.settings.logo_width }}px;
    }
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer color-{{ section.settings.color_scheme }} gradient">
  <div class="footer__content-top section-{{ section.id }}-padding">
    {%- for block in section.blocks -%}
      {%- if block.type == 'brand_information' -%}
        <div class="footer-top__info">
          {% render 'icon-logo' %}
          <div class="footer-info__link-container">
            {{ block.settings.footer_info }}
          </div>
          {%- if block.settings.footer_tel != blank -%}
            {% if block.settings.footer_tel_link != blank %}
              <a href="{{ block.settings.footer_tel_link }}" class="footer-info__telephone">
            {% else %}
              <div class="footer-info__telephone">
            {% endif %}
              {% if block.settings.footer_tel_img != blank %}
                <img
                  src="{{ block.settings.footer_tel_img | image_url: width: 20}}"
                  height="20"
                  width="20"
                  loading="lazy"
                >
              {% endif %}
              {{ block.settings.footer_tel }}
            {% if block.settings.footer_tel_link != blank %}
              </a>
            {% else %}
              </div>
            {% endif %}
          {%- endif -%}
        </div>
      {%- endif -%}
      {%- if block.type == 'link_list' -%}
        <div class="footer-top__menus">
          {%- if block.settings.heading -%}
            <h3>{{ block.settings.heading }}</h3>
          {%- endif -%}
          <div class="footer-menu__linklists">
            {%- for link in block.settings.menu.links -%}
              <ul class="list-unstyled small-hide medium-hide">
                <p class="footer-menu__title">{{ link.title }}</p>
                {%- if link.links != blank -%}
                  {%- for childlink in link.links -%}
                    <li>
                      <a
                        href="{{ childlink.url }}"
                        class="footer-menu__link link link--text focus-inset"
                      >
                        {{ childlink.title | escape }}
                      </a>
                    </li>
                  {%- endfor -%}
                {%- endif -%}
              </ul>
            {%- endfor -%}
          </div>
          <div class="footer-menu__accordion color-{{ block.settings.color_scheme }} gradient large-up-hide">
            <div class="collapsible-content isolate content-container content-container--full-width">
              <div class="collapsible-content__wrapper content-container">
                <div class="collapsible-content-wrapper-narrow">
                  <div class="grid grid--1-col collapsible-content__grid">
                    <div class="grid__item">
                      {%- for link in block.settings.menu.links -%}
                        <div
                          class="accordion content-container color-{{ block.settings.container_color_scheme }} gradient"
                        >
                          <details
                            id="Details-menu-{{ forloop.index }}-{{ block.id }}"
                          >
                            <summary id="Summary-menu-{{ forloop.index }}-{{ block.id }}">
                              <p class="accordion__title inline-richtext">
                                {{ link.title }}
                              </p>
                              {% render 'icon-caret' %}
                            </summary>
                            <div
                              class="accordion__content rte"
                              id="CollapsibleAccordion-menu-{{ forloop.index }}-{{ block.id }}"
                              role="region"
                              aria-labelledby="Summary-menu-{{ forloop.index }}-{{ block.id }}"
                            >
                              {%- if link.links != blank -%}
                                {%- for childlink in link.links -%}
                                  <li>
                                    <a
                                      href="{{ childlink.url }}"
                                      class="footer-menu__link link link--text focus-inset"
                                    >
                                      {{ childlink.title | escape }}
                                    </a>
                                  </li>
                                {%- endfor -%}
                              {%- endif -%}
                            </div>
                          </details>
                        </div>
                      {%- endfor -%}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {%- endif -%}
      {%- if block.type == 'socials' -%}
        <div class="footer-top__icons">
          {%- if block.settings.show_social -%}
            <div class="footer-icons__social-links">
              <p>{{ 'sections.footer.social_links' | t }}</p>
              {% render 'social-icons' %}
            </div>
          {%- endif -%}
          {%- if block.settings.show_accreditations -%}
            <div class="footer-icons__accreditions-wrapper">
              <p>{{ 'sections.footer.accreditations' | t }}</p>
              <div class="footer-icons__social-accreditions">
                {%- if block.settings.accreditation_1 -%}
                  <img
                    src="{{ block.settings.accreditation_1 | image_url: width: 50}}"
                    height="50"
                    width="50"
                    loading="lazy"
                  >
                {%- endif -%}
                {%- if block.settings.accreditation_2 -%}
                  <img
                    src="{{ block.settings.accreditation_2 | image_url: width: 50}}"
                    height="50"
                    width="50"
                    loading="lazy"
                  >
                {%- endif -%}
                {%- if block.settings.accreditation_3 -%}
                  <img
                    src="{{ block.settings.accreditation_3 | image_url: width: 50}}"
                    height="50"
                    width="50"
                    loading="lazy"
                  >
                {%- endif -%}
              </div>
            </div>
          {% endif %}
        </div>
      {%- endif -%}
    {%-  endfor -%}
  </div>
  <div
    class="footer__content-bottom"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    <div class="footer__content-bottom-wrapper">
      <div class="footer__column footer__column--info">
        {%- if section.settings.payment_enable -%}
          <div class="footer__payment">
            <span class="visually-hidden">{{ 'sections.footer.payment' | t }}</span>
            <ul class="list list-payment" role="list">
              {%- for type in shop.enabled_payment_types -%}
                <li class="list-payment__item">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
      </div>
    </div>
    <div class="footer__content-bottom-wrapper">
      <div class="footer__copyright caption">
        <small class="copyright__content"
          >&copy; {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}
        </small>
        <small class="copyright__content">{{ powered_by_link }}</small>
        {%- if section.settings.show_policy -%}
          <ul class="policies list-unstyled">
            {%- for policy in shop.policies -%}
              {%- if policy != blank -%}
                <li>
                  <small class="copyright__content"
                    ><a href="{{ policy.url }}">{{ policy.title }}</a></small
                  >
                </li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        {%- endif -%}
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",

  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "header",
          "content": "t:sections.footer.settings.header__1.content"
        },
        {
          "type": "richtext",
          "id": "footer_info",
          "label": "t:sections.footer.settings.footer_info.label",
          "info": "t:sections.footer.settings.footer_info.info"
        },
        {
          "type": "image_picker",
          "id": "footer_tel_img",
          "label": "t:sections.footer.settings.footer_tel_img.label"
        },
        {
          "type": "text",
          "id": "footer_tel",
          "label": "t:sections.footer.settings.footer_tel.label"
        },
        {
          "type": "url",
          "id": "footer_tel_link",
          "label": "t:sections.footer.settings.footer_tel_link.label"
        }
      ]
    },
    {
      "type": "socials",
      "name": "t:sections.footer.blocks.socials.name",
      "settings": [
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.settings.show_social.label"
        },
        {
          "type": "header",
          "content": "t:sections.footer.settings.header__4.content"
        },
        {
          "type": "checkbox",
          "id": "show_accreditations",
          "default": true,
          "label": "t:sections.footer.settings.show_accreditations.label"
        },
        {
          "type": "image_picker",
          "id": "accreditation_1",
          "label": "t:sections.footer.settings.image_1.label"
        },
        {
          "type": "image_picker",
          "id": "accreditation_2",
          "label": "t:sections.footer.settings.image_2.label"
        },
        {
          "type": "image_picker",
          "id": "accreditation_3",
          "label": "t:sections.footer.settings.image_3.label"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 550,
      "step": 5,
      "unit": "px",
      "label": "t:sections.footer.settings.logo_width.label",
      "default": 145
    },
    {
      "type": "range",
      "id": "logo_width_mobile",
      "min": 50,
      "max": 550,
      "step": 5,
      "unit": "px",
      "label": "t:sections.footer.settings.logo_width_mobile.label",
      "default": 110
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.footer.settings.margin_top.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
