{{ 'highlighted-products.css' | asset_url | stylesheet_tag }}
<div class="highlighted-products--container">
  <h2 class="highlighted-products--heading">{{ section.settings.heading }}</h2>
  <div class="highlighted-products--wrapper">
    {{ section.settings.product1 }}
    {{ section.settings.product2 }}
  </div>
  <div class="highlighted-products--button">
    <a href="{% if section.settings.btn_url != blank %}section.settings.btn_url{% else %}#{% endif %}">
      {{- section.settings.btn_text -}}
    </a>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.highlighted-products.name",
  "tag": "section",
  "class": "section section-highlighted-products",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.highlighted-products.settings.heading.label",
      "default": "Related Products"
    },
    {
      "type": "product",
      "id": "product1",
      "label": "t:sections.highlighted-products.settings.product1.label"
    },
    {
      "type": "product",
      "id": "product2",
      "label": "t:sections.highlighted-products.settings.product2.label"
    },
    {
      "type": "text",
      "id": "btn_text",
      "label": "t:sections.highlighted-products.settings.btn_text.label",
      "default": "View all related products"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "t:sections.highlighted-products.settings.btn_url.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-2"
    }
  ]
}
{% endschema %}
