{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}

{% style %}
  .article-template__hero-container .media::after {
    opacity: {{ section.settings.overlay_opacity }}%;
  }
{% endstyle %}


<article class="article-template" itemscope itemtype="http://schema.org/BlogPosting">
  {%- if article.image -%}
    <div
      class="article-template__hero-container color-{{ section.settings.color_scheme }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
    >
      <div
        class="article-template__hero-{{ section.settings.image_height }} media"
        itemprop="image"
        {% if section.settings.image_height == 'adapt' and article.image %}
          style="padding-bottom: 100vh;"
        {% endif %}
      >
        <img
          srcset="
            {% if article.image.width >= 750 %}{{ article.image | image_url: width: 750 }} 750w,{% endif %}
            {% if article.image.width >= 1100 %}{{ article.image | image_url: width: 1100 }} 1100w,{% endif %}
            {% if article.image.width >= 1500 %}{{ article.image | image_url: width: 1500 }} 1500w,{% endif %}
            {% if article.image.width >= 2200 %}{{ article.image | image_url: width: 2200 }} 2200w,{% endif %}
            {% if article.image.width >= 3000 %}{{ article.image | image_url: width: 3000 }} 3000w,{% endif %}
            {{ article.image | image_url }} {{ article.image.width }}w
          "
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
          src="{{ article.image | image_url: width: 1100 }}"
          loading="eager"
          fetchpriority="high"
          width="{{ article.image.width }}"
          height="{{ article.image.height }}"
          alt="{{ article.image.alt | escape }}"
          {%- if section.settings.featured_image_mobile != blank -%}
            class="small-hide"
          {%- endif -%}
        >
        {%- if section.settings.featured_image_mobile != blank -%}
          {% assign mob_img = section.settings.featured_image_mobile %}
          <img
            srcset="
              {% if mob_img.width >= 350 %}{{ mob_img | image_url: width: 350 }} 350w,{% endif %}
              {% if mob_img.width >= 750 %}{{ mob_img | image_url: width: 750 }} 750w,{% endif %}
              {{ mob_img | image_url }} {{ mob_img.width }}w
            "
            sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 }}px, (min-width: 750px) calc(100vw - 10rem), 100vw"
            src="{{ mob_img | image_url: width: 1100 }}"
            loading="eager"
            fetchpriority="high"
            width="{{ mob_img.width }}"
            height="{{ mob_img.height }}"
            alt="{{ mob_img.alt | escape }}"
            class="medium-hide large-up-hide"
          >
        {%- endif -%}
      </div>
      <header
        class="page-width page-width--narrow {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
      >
        {%- if section.settings.blog_show_tags -%}
          <div class="article-template__tags">
            {% for tag in article.tags %}
              <span>{{ tag }}</span>
            {% endfor %}
          </div>
        {%- endif -%}
        <h1
          class="article-template__title"
          itemprop="headline"
        >
          {{ article.title | escape }}
        </h1>
        {%- if article.metafields.custom.subtitle -%}
          <p>{{ article.metafields.custom.subtitle }}</p>
        {%- endif -%}
      </header>
    </div>
  {%- endif -%}
  <div
    class="article-template__content width-{{ section.settings.content_size }} rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    itemprop="articleBody"
  >
    {%- if section.settings.blog_show_date -%}
      <span class="circle-divider" itemprop="dateCreated pubdate datePublished">
        {{- article.published_at | time_tag: 'Posted on %d %B %Y' -}}
      </span>
    {%- endif -%}
    {%- if section.settings.blog_show_author -%}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">{{ 'blogs.article.author' | t: author: article.author }}</span>
      </span>
    {%- endif -%}
    {{ article.content }}
  </div>
</article>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ request.origin | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      "image": [
        {{ article | image_url: width: 1920 | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      "name": {{ shop.name | json }}
    }
  }
</script>

{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "featured_image_mobile",
      "label": "t:sections.main-article.settings.featured_image_mobile.label",
      "info": "t:sections.main-article.settings.featured_image_mobile.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.main-article.settings.overlay_opacity.label",
      "default": 30
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-article.settings.image_height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.main-article.settings.image_height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-article.settings.image_height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-article.settings.image_height.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-article.settings.image_height.label",
      "info": "t:sections.main-article.settings.image_height.info"
    },
    {
      "type": "select",
      "id": "content_size",
      "options": [
        {
          "value": "x-small",
          "label": "t:sections.main-article.settings.content_size.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.main-article.settings.content_size.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-article.settings.content_size.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-article.settings.content_size.options__4.label"
        }
      ],
      "default": "medium",
      "label": "t:sections.main-article.settings.content_size.label",
      "info": "t:sections.main-article.settings.content_size.info"
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "default": true,
      "label": "t:sections.main-article.settings.blog_show_date.label"
    },
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "default": false,
      "label": "t:sections.main-article.settings.blog_show_author.label"
    },
    {
      "type": "checkbox",
      "id": "blog_show_tags",
      "default": false,
      "label": "t:sections.main-article.settings.blog_show_tags.label"
    }
  ]
}
{% endschema %}
